<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<div th:fragment="navbar">
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="#">Library</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item"><a class="nav-link" href="#"
					th:href="@{/}">Home <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item"><a class="nav-link" href="#"
					th:href="@{/create-user}">Create User</a></li>
				<li class="nav-item"><a class="nav-link" href="#"
					th:href="@{/create-book}">Create Book</a></li>
				<li class="nav-item"><a class="nav-link" href="#"
					th:href="@{/all-users}">Manage Users</a></li>
				<li class="nav-item"><a class="nav-link" href="#"
					th:href="@{/all-books}">Manage Books</a></li>
				<li class="nav-item"><a class="nav-link" href="#"
					th:href="@{/book/loan}">Loan Book</a></li>
			</ul>
			<form class="form-inline my-2 my-lg-0">
				<div>
					<a style="color: white">Welcome User</a>

				</div>
			</form>
		</div>
	</nav>
</div>

</html>